nav a.nav-link {
  font-size: 1rem;
  letter-spacing: 0.034rem;
}

.logo {
  width: 18.25rem;
  margin-top: 2rem;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  color: rgb(235, 232, 232) !important;
  margin-left: 0.75rem;
  margin-right: 0.75rem;
  border-top: 0.1875rem solid rgb(255, 255, 255, 0);
}

.navbar-brand {
  max-width: 17.25rem;
  padding: 0 !important;
  height: 6rem;
}

.navbar-nav {
  margin-left: auto;
}

.navbar-nav > li > a.active,
.navbar-nav > li > a:focus {
  border-top: 0.1875rem solid rgb(87, 175, 216);
}

.navbar-nav li a:hover {
  border-top: 0.1875rem solid rgb(87, 175, 216);
}

.header-wraper {
  position: relative;
  background: url(back.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  height: 90vh;
  background-color: rgba(0, 0, 0, 10);
}
.main-info h1 {
  text-transform: uppercase;
  color: rgb(184, 126, 25);

  display: flex;
}

.typed-text {
  display: flex;
  font-size: 2rem;
  color: rgb(235, 232, 232);
}

.btn-main-offer {
  border: 1px solid #ef4035;
  text-transform: uppercase;
  margin: 2rem;

  border-radius: 0;
  padding: 0.625rem 0.75rem 0.75rem 0.75rem;
}

.main-info {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.main-info a {
  text-decoration: none;
}
