.logo {
  width: 18rem;
  height: 3.5rem;
  margin-top: 1rem;
}
body {
  align-items: center;
  place-items: center;
}
.app {
  background: url(back.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
}
.loading {
  color: red;
}
.header-wraper {
  position: relative;

  background-position: center;
  background-size: cover;
  height: 100vh;
}
.main-info h1 {
  text-transform: uppercase;
  color: rgb(184, 126, 25);

  display: flex;
}

@media (max-width: 768px) {
  .main-info h1 {
    font-size: 1.7rem;
  }
  .typed-text {
    font-size: 1.3rem;
  }
}

.typed-text {
  display: flex;
  font-size: 2rem;
  color: rgb(235, 232, 232);
}

.btn-main-offer {
  border: 1px solid #9c726f;
  text-transform: uppercase;
  margin: 2rem;
  color: rgb(235, 232, 232);

  border-radius: 0;
  padding: 0.625rem 0.75rem 0.75rem 0.75rem;
}

.btn-main-offer:hover {
  background-color: rgb(128, 156, 49);
  border: none;
  transition: 0.6s ease-in-out;
}

.main-info {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* z-index: 1; */
}

.main-info a {
  text-decoration: none;
}

.tsparticles-canvas-el {
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 1;
}

@media (max-width: 768px) {
  .tsparticles-canvas-el {
    display: none;
  }
}
